body {
    min-height: 100vh; 
    

    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;   
    
    
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url("../images/welcomePageWallpaper.jpg") center/cover no-repeat;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: antiquewhite; 
    margin-bottom: 40px; 
    text-align: center;
    text-transform: uppercase;
}


.buttons {
    display: flex; 
    gap: 25px;     
}


.btn {
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
    padding: 14px 35px;
    
    /*bottone arrotondato  */
    border: 2px solid white;
    border-radius: 30px; 
    background-color: white;
    color: black;
    
    cursor: pointer; 
    transition: all 0.3s ease; 
    text-transform: uppercase;
}


.btn:hover {
    background-color: transparent; 
    color: white;                  
    transform: scale(1.05);        
}